---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Logo from '../assets/images/logo.svg';
import BlueSkyLogo from '../assets/images/logo-bluesky.svg';
import LinkedInLogo from '../assets/images/logo-linkedin.svg';
import ArrowDown from '../assets/images/icon-arrow-down.svg';
import ArrowUp from '../assets/images/icon-arrow-up.svg';
import Avatars from '../assets/images/image-avatars.webp';
import HeroImageMobile from '../assets/images/image-hero-mobile.webp';
import HeroImageTablet from '../assets/images/image-hero-tablet.webp';
import HeroImageDesktop from '../assets/images/image-hero-desktop.webp';
import MainImageMobile from '../assets/images/image-read-together-mobile.webp';
import MainImageTablet from '../assets/images/image-read-together-tablet.webp';
import MainImageDesktop from '../assets/images/image-read-together-desktop.webp';
import MainSecondImageMobile from '../assets/images/image-not-average-mobile.webp';
import MainSecondImageTablet from '../assets/images/image-not-average-tablet.webp';
import MainSecondImageDesktop from '../assets/images/image-not-average-desktop.webp';
import CirclePattern from '../assets/images/pattern-circle.png';
import CheckBoxIcon from '../assets/images/icon-check.svg';
import Stars from '../assets/images/icon-star.svg';
import '../styles/global.css';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <!-- <Welcome /> -->
    <header class="">
        <div class="container px-4 pt-6">
            <a href="/"><img src={Logo.src} alt="" /></a>
            <section class="hero pt-12 pb-20">
                <h1
                    class="text-preset-1 pb-6 bg-[linear-gradient(107deg,#FF9A60_-11.37%,#062630_61.84%)] bg-clip-text text-transparent"
                >
                    Join the ultimate tech book club
                </h1>
                <p class="text-preset-5-regular mb-[32px] text-neutral-700">
                    Turn your reading time into learning time with fellow tech
                    enthusiasts. Get curated recommendations, join vibrant
                    discussions, and level up your skills one chapter at a time.
                </p>

                <a
                    href="#memberships"
                    class="px-6 py-5 border-2 border-neutral-900 flex items-center gap-2 rounded-md text-preset-6-mobile text-neutral-900"
                    >REVIEW MEMBERSHIP OPTIONS<span
                        ><img src={ArrowDown.src} width="24" /></span
                    >
                </a>

                <div class="flex items-center mb-16 gap-3">
                    <div class="avatars">
                        <img src={Avatars.src} width="160" alt="avatars" />
                    </div>
                    <div>
                        <div class="stars flex flex-wrap">
                            <img src={Stars.src} alt="" />
                            <img src={Stars.src} alt="" />
                            <img src={Stars.src} alt="" />
                            <img src={Stars.src} alt="" />
                            <img src={Stars.src} alt="" />
                        </div>
                        <span class="text-preset-7 text-neutral-700"
                            >200+ developers joined already</span
                        >
                    </div>
                </div>
                <div class="img-container rounded-xl overflow-hidden">
                    <picture>
                        <source
                            media="(min-width:768px)"
                            src={HeroImageTablet.src}
                        />
                        <source
                            media="(min-width: 1024px)"
                            src={HeroImageDesktop.src}
                        />
                        <img src={HeroImageMobile.src} />
                    </picture>
                </div>
            </section>
        </div>
    </header>
    <section>
        <div class="container px-4 pt-6">
            <h2 class="text-preset-2 text-neutral-900">
                Read together, grow together
            </h2>
            <ul class="flex flex-col gap-4 mb-10">
                <li class="flex gap-3.5 justify-between">
                    <img
                        src={CheckBoxIcon.src}
                        alt="Checkbox icon"
                        class="w-[28px]"
                    />
                    <p class="text-preset-5-regular text-neutral-700">
                        Monthly curated tech reads selected by industry experts
                    </p>
                </li>
                <li class="flex gap-3.5 justify-between">
                    <img
                        src={CheckBoxIcon.src}
                        alt="Checkbox icon"
                        class="w-[28px]"
                    />
                    <p class="text-preset-5-regular text-neutral-700">
                        Virtual and in-person meetups for deep-dive discussions
                    </p>
                </li>
                <li class="flex gap-3.5 justify-between">
                    <img
                        src={CheckBoxIcon.src}
                        alt="Checkbox icon"
                        class="w-[28px]"
                    />

                    <p class="text-preset-5-regular text-neutral-700">
                        Early access to new tech book releases
                    </p>
                </li>
                <li class="flex gap-3.5 justify-between">
                    <img
                        src={CheckBoxIcon.src}
                        alt="Checkbox icon"
                        class="w-[28px]"
                    />
                    <p class="text-preset-5-regular text-neutral-700">
                        Author Q&A sessions with tech thought leaders
                    </p>
                </li>
            </ul>
            <div class="img-container rounded-lg overflow-hidden mb-16">
                <picture>
                    <source
                        media="(min-width: 768px)"
                        src={MainImageTablet.src}
                    />
                    <source
                        media="(min-width: 1024px)"
                        src={MainImageDesktop.src}
                    />
                    <img
                        src={MainImageMobile.src}
                        alt="People reading together"
                    />
                </picture>
            </div>

            <h2 class="text-preset-2 text-neutral-900">
                Not your average book
                <span class="inline-block relative">
                    <img
                        src={CirclePattern.src}
                        alt=""
                        class="absolute max-w-[120%] -ml-2"
                    /> club
                </span>
            </h2>

            <p class="text-preset-5-regular mb-[40px] text-neutral-700">
                Connect with a community that speaks your language - from <span
                    class="text-preset-5">Python</span
                >
                to <span class="text-preset-5">TypeScript</span> and everything in
                between. Our discussions blend technical depth with practical applications.
            </p>

            <div class="img-container rounded-lg overflow-hidden mb-16">
                <picture>
                    <source
                        media="(min-width:768px)"
                        src={MainSecondImageTablet.src}
                    />
                    <source
                        media="(min-width:1024px)"
                        src={MainSecondImageDesktop.src}
                    />
                    <img src={MainSecondImageMobile.src} />
                </picture>
            </div>
        </div>
    </section>

    <section id="memberships">
        <div class="container px-4 pt-6">
            <h2 class="text-preset-2 text-neutral-900 pb-6">
                Membership options
            </h2>
            <div class="membership-options flex flex-col gap-6">
                <div class="card p-6 border-neutral-200 border-2 rounded-xl">
                    <div class="divide-y">
                        <div class="text">
                            <h3 class="text-preset-4 mb-6">Starter</h3>
                            <p class="text-preset-5-regular mb-6">
                                <span class="text-preset-3">$19</span>
                                /month
                            </p>
                        </div>
                        <ul class="mt-6">
                            <li class="flex mb-4 gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">
                                    1 book/month
                                </p>
                            </li>
                            <li class="flex gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">
                                    Online forums
                                </p>
                            </li>
                        </ul>
                    </div>

                    <button
                        class="mt-8 px-5 py-4 w-full text-center border-3 rounded-lg border-neutral-900 bg-light-salmon-50"
                        >SUBSCRIBE NOW</button
                    >
                </div>
                <div
                    class="pro-tier card p-6 bg-light-salmon-50 border-neutral-200 border-2 rounded-xl relative"
                >
                    <div class="divide-y">
                        <div class="text">
                            <h3 class="text-preset-4 mb-6">Pro</h3>
                            <p class="text-preset-5-regular mb-6">
                                <span class="text-preset-3">$29</span>
                                /month
                            </p>
                        </div>
                        <ul class="mt-6">
                            <li class="flex mb-4 gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">
                                    2 books/month
                                </p>
                            </li>
                            <li class="flex gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">
                                    Virtual meetups
                                </p>
                            </li>
                        </ul>
                    </div>

                    <button
                        class="mt-8 px-5 py-4 w-full text-center border-3 rounded-lg border-neutral-900 bg-light-salmon-50"
                        >SUBSCRIBE NOW</button
                    >
                </div>
                <div class="card p-6 border-neutral-200 border-2 rounded-lg">
                    <div class="divide-y">
                        <div class="text">
                            <h3 class="text-preset-4 mb-6">Enterprise</h3>
                            <p class="text-preset-3 mb-6">Custom</p>
                        </div>
                        <ul class="mt-6">
                            <li class="flex mb-4 gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">Team access</p>
                            </li>
                            <li class="flex gap-3">
                                <img
                                    src={CheckBoxIcon.src}
                                    alt="Checkbox icon"
                                    class="w-[28px]"
                                />
                                <p class="text-preset-5-regular">
                                    Private sessions
                                </p>
                            </li>
                        </ul>
                    </div>

                    <button
                        class="mt-8 px-5 py-4 w-full text-center border-3 rounded-lg border-neutral-900 bg-light-salmon-50"
                        >TALK TO US</button
                    >
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="container px-4 pt-6 pb-16">
            <div class="stars flex flex-wrap gap-1.5">
                <img src={Stars.src} alt="" width={28} />
                <img src={Stars.src} alt="" width={28} />
                <img src={Stars.src} alt="" width={28} />
                <img src={Stars.src} alt="" width={28} />
                <img src={Stars.src} alt="" width={28} />
            </div>
            <p class="text-preset-4 pb-8">
                "This book club transformed my technical reading from a solitary
                activity into an enriching community experience. The discussions
                are gold!"
            </p>
            <p class="text-preset-5-regular text-neutral-700">
                Sarah Chen, Software Architect
            </p>
        </div>
    </section>

    <footer class="bg-neutral-900">
        <div
            class="container px-4 pt-12 overflow-hidden rounded-t-2xl divide-y divide-neutral-700"
        >
            <div class="cta">
                <h3 class="text-preset-2 text-white text-center mb-10">
                    Ready to debug your reading list?
                </h3>
                <a
                    href="#memberships"
                    class="px-6 py-5 border-2 border-white flex items-center gap-2 rounded-md text-white text-preset-6-mobile mb-6"
                    >REVIEW MEMBERSHIP OPTIONS<span
                        ><img
                            src={ArrowUp.src}
                            width="24"
                            class="invert brightness-0 sepia saturate-0 contrast-100 hue-rotate-[288deg]"
                        /></span
                    >
                </a>
                <div class="flex items-center mb-16 gap-3">
                    <div class="avatars pb-1">
                        <img src={Avatars.src} width="160" alt="avatars" />
                    </div>
                    <div>
                        <div class="stars flex flex-wrap">
                            <img src={Stars.src} alt="stars" />
                            <img src={Stars.src} alt="stars" />
                            <img src={Stars.src} alt="stars" />
                            <img src={Stars.src} alt="stars" />
                            <img src={Stars.src} alt="stars" />
                        </div>
                        <span class="text-preset-7 text-white"
                            >200+ developers joined already</span
                        >
                    </div>
                </div>
            </div>
            <div
                class="flex flex-col text-center justify-center items-center pt-6 px-8 pb-6"
            >
                <p class="text-white">© 2024 - Tech Book Club</p>
                <div class="icons flex pt-4 gap-6">
                    <a href="#"
                        ><img
                            src={BlueSkyLogo.src}
                            width="22"
                            alt="Bluesky logo"
                        /></a
                    >
                    <a href="#"
                        ><img
                            src={LinkedInLogo.src}
                            width="22"
                            alt="LinkedIn logo"
                        /></a
                    >
                </div>
            </div>
        </div>
    </footer>
</Layout>
